{{ define "main" }}
<div class="post-container">
    {{ if .Params.toc }}
    <div class="table-of-contents desktop-toc">
        {{ .TableOfContents }}
    </div>
    {{ end }}
    <article>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ partial "metadata.html" . }}
        {{ if .Params.toc }}
        <div class="table-of-contents mobile-toc">
            {{ .TableOfContents }}
        </div>
        {{ end }}
        <section>
            {{ if .Params.external_url }}
            <script>
                window.location.href = "{{ .Params.external_url }}";
            </script>
            <noscript>
                <p>Redirecting to <a href="{{ .Params.external_url }}">{{ .Params.external_url }}</a>...</p>
            </noscript>
            {{ else }}
            {{ .Content }}
            {{ end }}
        </section>
    </article>
</div>
<br /><br />
{{ end }}
