{{ define "main" }}
<div class="post-container">
    {{ if .Params.toc }}
    <div class="table-of-contents desktop-toc">
        {{ .TableOfContents }}
    </div>
    {{ end }}
    <article>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ partial "metadata.html" . }}
        {{ if .Params.toc }}
        <div class="table-of-contents mobile-toc">
            {{ .TableOfContents }}
        </div>
        {{ end }}
        <section>
            {{ .Content }}
        </section>
    </article>
</div>
<br /><br />
{{ end }}
