<div class="footer">
    <p class="text-center">Aayush Gupta :)</p>
    <div class="social-links text-center">
        <a href="https://twitter.com/yush_g" target="_blank" aria-label="Twitter">
            <i data-feather="twitter"></i>
        </a>
        <a href="https://github.com/Divide-By-0" target="_blank" aria-label="GitHub">
            <i data-feather="github"></i>
        </a>
        <a href="mailto:aayushg@mit.edu" aria-label="Email">
            <i data-feather="mail"></i>
        </a>
    </div>
</div>