<div id="nav-border">
    <div class="header-content"> <!-- Wrap the title and nav in a flex container -->
        <span class="blog-title">aayush's thoughts</span> <!-- Blog title -->
        <nav id="nav" class="nav justify-content-center">
            {{ range .Site.Menus.main }}
                {{ if .Identifier }} <a class="nav-link optional" href="{{ .URL }}" style="color: #87CEEB;">
                {{ else }} <a class="nav-link" href="{{ .URL }}" style="color: #87CEEB;">
                {{ end }}
                {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\" style=\"color: #87CEEB;\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
                {{ end }}
                <a href="https://twitter.com/yush_g" class="twitter-link nav-link" target="_blank" aria-label="Follow on Twitter" style="color: #87CEEB; display: flex; align-items: center;">
                    <i data-feather="twitter" style="color: #87CEEB; margin-top: 4px;"></i>
                    <span style="margin-left: 4px; font-size: 0.65em; text-decoration: none;">@yush_g</span>
                </a>
        </nav>
    </div>
</div>
