{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
  <h1 class="title">{{ .Site.Title }}</h1>
  <div class="description">
    <p>aayush's blog. usually things I keep repeating that I wish I could just have a consistent, canonical post for. you probably came here after I answered your question with "actually I have a long post on my blog about this...". my main site with all my projects and contact links is at <a href="https://aayushg.com">aayushg.com</a>.</p>
  </div>
  {{ partial "recommended.html" . }}
  <br/>
  <h2>All Posts</h2>
  {{ $posts := where .Site.RegularPages "Type" "in" (slice "posts") }}
  {{ range $posts.ByPublishDate.Reverse }}
  <p>
    <div>
      <h3><a class="title" href="{{ .RelPermalink }}" style="color: #e5e7eb">{{ .Title }}</a></h3>
      {{ partial "metadata.html" . }}
    </div>
  </p>
  {{ end }}
</div>
{{ end }}
